@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Theme (Deadpool) */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text: #ffffff;
  --button: #ffe97f;
  --accent: #6b6f72;
  --secondary: #ffe97f;
  --primary: #21282f;
  --bg-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F4e8f%2Ff%2F2017%2F184%2F1%2F9%2Fdeadpool_minimalist_wallpaper_by_damionmauville-dbf0k84.png&f=1&nofb=1&ipt=17107019c0270ed2ef6c65d69445ca7e7e5d67421086868ff055ccdbed7c82d6&ipo=images");
}

/* Custom Theme: Nature */
[data-theme="nature"] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 34, 139, 34;
  --background-end-rgb: 0, 100, 0;
  --text: #ffffff;
  --button: #c6a280;
  --accent: #226560;
  --secondary: #c6a280;
  --primary: #0d3537;
  --bg-image: url("https://wallpapers.com/images/hd/minimalist-nature-3840-x-2160-1iwu4cosdjh9b6l4.jpg");
}

/* Custom Theme: Ocean */
[data-theme="ocean"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 123, 255;
  --background-end-rgb: 0, 82, 204;
  --text: #000000;
  --button: #e1ddc5;
  --accent: #223648;
  --secondary: #e1ddc5;
  --primary: #223648;
  --bg-image: url("https://images.unsplash.com/photo-1698173956184-1b19f9fdceca?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Ymx1ZSUyMGdyYWRpZW50fGVufDB8fDB8fHww");
}

/* Other Default Theme */
[data-theme="otherdefault"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --text: #000000;
  --button: #a7b6b3;
  --accent: #0f101a;
  --secondary: #a7b6b3;
  --primary: #0f101a;
  --bg-image: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background: rgb(255, 255, 255, 0.5);
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F4e8f%2Ff%2F2017%2F184%2F1%2F9%2Fdeadpool_minimalist_wallpaper_by_damionmauville-dbf0k84.png&f=1&nofb=1&ipt=17107019c0270ed2ef6c65d69445ca7e7e5d67421086868ff055ccdbed7c82d6&ipo=images");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/*
Background URLs: 
Deadpool: https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F4e8f%2Ff%2F2017%2F184%2F1%2F9%2Fdeadpool_minimalist_wallpaper_by_damionmauville-dbf0k84.png&f=1&nofb=1&ipt=17107019c0270ed2ef6c65d69445ca7e7e5d67421086868ff055ccdbed7c82d6&ipo=images
Ocean:https://images.unsplash.com/photo-1698173956184-1b19f9fdceca?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Ymx1ZSUyMGdyYWRpZW50fGVufDB8fDB8fHww
Nature:https://wallpapers.com/images/hd/minimalist-nature-3840-x-2160-1iwu4cosdjh9b6l4.jpg
Default: White
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.remove-ring {
  @apply focus-visible:ring-transparent focus:ring-transparent !important;
}

.custom-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.draggable {
  top: auto !important;
  left: auto !important;
}
